.notifyHeader {
  margin-bottom: 30%;
  position: absolute;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  background: #fb83a7;
  background: -moz-linear-gradient(45deg, #fb83a7 0%, #fdd29e 100%);
  background: -webkit-linear-gradient(45deg, #fb83a7 0%, #fdd29e 100%);
  background: linear-gradient(45deg, #fb83a7 0%, #fdd29e 100%);
  text-align: center;
  color: black;
}
